nbproject
._*
.~lock.*
.buildpath
.DS_Store
.idea
.project
.settings
composer.lock
vendor/zf-commons
vendor/bin
INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation
js-src/temp
public/.buildignore
public/404.html
public/favicon.ico
public/index.html
public/manifest.appcache
public/robots.txt
public/scripts/
public/styles/
public/views/
public/.htaccess
js-src/dist
tags
vendor/phpunit
vendor/symfony
vendor/prolic
data/logs/application.log
js-src/node_modules
